### В этом файле соединяем все имеющиеся данные:
- Изначальные main данные
- Данные, которые спарсили по погоде
- Данные, которые спарсили по Elo_rating

In [482]:
import numpy as np
import pandas as pd

from datetime import datetime
from collections import Counter

## Main dataframe

In [355]:
df = pd.read_csv('main_df.csv', parse_dates=['Date']).iloc[:, 1:]
df.head()

,Date,Time,Location,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AF,HC,AC,HY,AY,HR,AR,AvgH,AvgD,AvgA
0,2024-04-25,20:00,EGKK,Brighton,Man City,0,4,A,0,3,...,3,4,4,2,0,0,0,6.568,4.890,1.426
1,2024-04-24,20:00,EGCC,Man United,Sheffield United,4,2,H,1,1,...,9,9,4,0,1,0,0,1.304,6.056,8.154
2,2024-04-24,20:00,EGGP,Everton,Liverpool,2,0,H,1,0,...,13,4,13,0,3,0,0,7.048,4.910,1.410
3,2024-04-24,20:00,EGLC,Crystal Palace,Newcastle,2,0,H,0,0,...,15,7,2,3,3,0,0,2.742,3.620,2.410
4,2024-04-24,19:45,EGBB,Wolves,Bournemouth,0,1,A,0,1,...,17,8,12,4,1,0,1,2.698,3.586,2.476

## Weather data

Данные собирались в 3 прохода по несколько запусков, поэтому соединим сначала каждый проход, а затем уже все в один дата фрейм

Первая тысяча:

In [356]:
df_weather_1 = pd.concat([pd.read_csv(f'[3]parsed_weather:1000({i}).csv', parse_dates=['Date']) for i in range(2)]).iloc[:, 1:]
df_weather_1

          Date      Time Temperature Humidity Wind Speed Condition Location
0   2024-04-25  12:20 AM       36 °F    81 °%     1 °mph      Fair     EGKK
1   2024-04-25  12:50 AM       36 °F    87 °%     1 °mph      Fair     EGKK
2   2024-04-25   1:20 AM       34 °F    87 °%     1 °mph      Fair     EGKK
3   2024-04-25   1:50 AM       36 °F    87 °%     1 °mph      Fair     EGKK
4   2024-04-25   2:20 AM       36 °F    87 °%     1 °mph      Fair     EGKK
..         ...       ...         ...      ...        ...       ...      ...
278 2021-08-28       NaN         NaN      NaN        NaN       NaN     EGCC
279 2021-08-28       NaN         NaN      NaN        NaN       NaN     EGCC
280 2021-08-28       NaN         NaN      NaN        NaN       NaN     EGCC
281 2021-08-28       NaN         NaN      NaN        NaN       NaN     EGCC
282 2021-08-28       NaN         NaN      NaN        NaN       NaN     EGCC

[54175 rows x 7 columns]

In [357]:
df_weather_2 = pd.concat([pd.read_csv(f'[1]parsed_weather1000:1500({i}).csv', parse_dates=['Date']) for i in range(5)]).iloc[:, 1:]
df_weather_2

,Date,Time,Temperature,Humidity,Wind Speed,Condition,Location
0,2021-03-14,1:20 AM,43 °F,70 °%,13 °mph,Mostly Cloudy,EGLC
1,2021-03-14,1:50 AM,43 °F,76 °%,16 °mph,Mostly Cloudy,EGLC
2,2021-03-14,2:20 AM,43 °F,76 °%,17 °mph,Partly Cloudy,EGLC
3,2021-03-14,2:50 AM,43 °F,81 °%,16 °mph,Partly Cloudy,EGLC
4,2021-03-14,3:20 AM,43 °F,81 °%,16 °mph,Light Rain,EGLC
...,...,...,...,...,...,...,...
111,2019-12-29,NaN,NaN,NaN,NaN,NaN,EGGP
112,2019-12-29,NaN,NaN,NaN,NaN,NaN,EGGP
113,2019-12-29,NaN,NaN,NaN,NaN,NaN,EGGP
114,2019-12-29,NaN,NaN,NaN,NaN,NaN,EGGP
115,2019-12-29,NaN,NaN,NaN,NaN,NaN,EGGP

In [358]:
df_weather_3 = pd.concat([pd.read_csv(f'[2]parsed_weather1500({i}).csv', parse_dates=['Date']) for i in range(6)]).iloc[:, 1:]
df_weather_3

            Date     Time Temperature Humidity Wind Speed Condition Location
0     2019-11-09  1:20 AM       36 °F    93 °%     6 °mph      Fair     EGNM
1     2019-11-09  1:50 AM       34 °F    93 °%     7 °mph      Fair     EGNM
2     2019-11-09  2:20 AM       36 °F    93 °%     6 °mph      Fair     EGNM
3     2019-11-09  2:50 AM       34 °F   100 °%     5 °mph      Fair     EGNM
4     2019-11-09  3:20 AM       34 °F    93 °%     6 °mph      Fair     EGNM
...          ...      ...         ...      ...        ...       ...      ...
16674 2018-08-10      NaN         NaN      NaN        NaN       NaN     EGCC
16675 2018-08-10      NaN         NaN      NaN        NaN       NaN     EGCC
16676 2018-08-10      NaN         NaN      NaN        NaN       NaN     EGCC
16677 2018-08-10      NaN         NaN      NaN        NaN       NaN     EGCC
16678 2018-08-10      NaN         NaN      NaN        NaN       NaN     EGCC

[24217 rows x 7 columns]

In [359]:
df_weather = pd.concat([df_weather_1, df_weather_2, df_weather_3])
df_weather

            Date      Time Temperature Humidity Wind Speed Condition Location
0     2024-04-25  12:20 AM       36 °F    81 °%     1 °mph      Fair     EGKK
1     2024-04-25  12:50 AM       36 °F    87 °%     1 °mph      Fair     EGKK
2     2024-04-25   1:20 AM       34 °F    87 °%     1 °mph      Fair     EGKK
3     2024-04-25   1:50 AM       36 °F    87 °%     1 °mph      Fair     EGKK
4     2024-04-25   2:20 AM       36 °F    87 °%     1 °mph      Fair     EGKK
...          ...       ...         ...      ...        ...       ...      ...
16674 2018-08-10       NaN         NaN      NaN        NaN       NaN     EGCC
16675 2018-08-10       NaN         NaN      NaN        NaN       NaN     EGCC
16676 2018-08-10       NaN         NaN      NaN        NaN       NaN     EGCC
16677 2018-08-10       NaN         NaN      NaN        NaN       NaN     EGCC
16678 2018-08-10       NaN         NaN      NaN        NaN       NaN     EGCC

[105329 rows x 7 columns]

__Убираем пропуски (их там много из-за особенностей сбора данных)__

In [360]:
df_weather.isna().sum()

Date               0
Time           19060
Temperature    19060
Humidity       19060
Wind Speed     19060
Condition      19061
Location           0
dtype: int64

In [361]:
df_weather.dropna(subset='Time', inplace=True)

In [362]:
df_weather

            Date      Time Temperature Humidity Wind Speed Condition Location
0     2024-04-25  12:20 AM       36 °F    81 °%     1 °mph      Fair     EGKK
1     2024-04-25  12:50 AM       36 °F    87 °%     1 °mph      Fair     EGKK
2     2024-04-25   1:20 AM       34 °F    87 °%     1 °mph      Fair     EGKK
3     2024-04-25   1:50 AM       36 °F    87 °%     1 °mph      Fair     EGKK
4     2024-04-25   2:20 AM       36 °F    87 °%     1 °mph      Fair     EGKK
...          ...       ...         ...      ...        ...       ...      ...
16664 2018-08-10   9:50 PM       52 °F    82 °%     2 °mph      Fair     EGCC
16665 2018-08-10  10:20 PM       55 °F    77 °%     3 °mph      Fair     EGCC
16666 2018-08-10  10:50 PM       50 °F    87 °%     3 °mph      Fair     EGCC
16667 2018-08-10  11:20 PM       52 °F    88 °%     6 °mph      Fair     EGCC
16668 2018-08-10  11:50 PM       48 °F    87 °%     5 °mph      Fair     EGCC

[86269 rows x 7 columns]

In [363]:
df_weather[df_weather['Condition'].isna() == True]

            Date     Time Temperature Humidity Wind Speed Condition Location
14995 2023-05-20  2:20 PM       64 °F    45 °%     7 °mph       NaN     EGLC

In [364]:
df_weather[(df_weather.Date == '2023-05-20') & (df_weather.Location == 'EGLC')]

,Date,Time,Temperature,Humidity,Wind Speed,Condition,Location
14967,2023-05-20,12:20 AM,52 °F,71 °%,6 °mph,Fair,EGLC
14968,2023-05-20,12:50 AM,52 °F,71 °%,3 °mph,Fair,EGLC
14969,2023-05-20,1:20 AM,50 °F,76 °%,5 °mph,Fair,EGLC
14970,2023-05-20,1:50 AM,50 °F,76 °%,6 °mph,Fair,EGLC
14971,2023-05-20,2:20 AM,48 °F,82 °%,6 °mph,Fair,EGLC
14972,2023-05-20,2:50 AM,48 °F,87 °%,5 °mph,Fair,EGLC
14973,2023-05-20,3:20 AM,48 °F,87 °%,5 °mph,Fair,EGLC
14974,2023-05-20,3:50 AM,48 °F,87 °%,3 °mph,Fair,EGLC
14975,2023-05-20,4:20 AM,48 °F,87 °%,3 °mph,Mostly Cloudy,EGLC
14976,2023-05-20,4:50 AM,46 °F,93 °%,5 °mph,Cloudy,EGLC
14977,2023-05-20,5:20 AM,48 °F,87 °%,5 °mph,Cloudy,EGLC
14978,2023-05-20,5:50 AM,48 °F,87 °%,5 °mph,Cloudy,EGLC
14979,2023-05-20,6:20 AM,48 °F,87 °%,5 °mph,Cloudy,EGLC
14980,2023-05-20,6:50 AM,50 °F,82 °%,5 °mph,Cloudy,EGLC
14981,2023-05-20,7:20 AM,50 °F,87 °%,7 °mph,Cloudy,EGLC
14982,2023-05-20,7:50 AM,50 °F,87 °%,6 °mph,Cloudy,EGLC
14983,2023-05-20,8:20 AM,52 °F,82 °%,6 °mph,Mostly Cloudy,EGLC
14984,2023-05-20,8:50 AM,54 °F,77 °%,7 °mph,Mostly Cloudy,EGLC
14985,2023-05-20,9:20 AM,55 °F,77 °%,8 °mph,Partly Cloudy,EGLC
14986,2023-05-20,9:50 AM,57 °F,72 °%,8 °mph,Fair,EGLC
14987,2023-05-20,10:20 AM,59 °F,67 °%,7 °mph,Fair,EGLC
14988,2023-05-20,10:50 AM,61 °F,59 °%,9 °mph,Fair,EGLC
14989,2023-05-20,11:20 AM,63 °F,55 °%,12 °mph,Fair,EGLC
14990,2023-05-20,11:50 AM,63 °F,55 °%,10 °mph,Mostly Cloudy,EGLC
14991,2023-05-20,12:20 PM,64 °F,52 °%,9 °mph,Partly Cloudy,EGLC
14992,2023-05-20,12:50 PM,64 °F,52 °%,13 °mph,Partly Cloudy,EGLC
14993,2023-05-20,1:20 PM,64 °F,49 °%,12 °mph,Partly Cloudy,EGLC
14994,2023-05-20,1:50 PM,64 °F,45 °%,10 °mph,Mostly Cloudy,EGLC
14995,2023-05-20,2:20 PM,64 °F,45 °%,7 °mph,NaN,EGLC
14996,2023-05-20,2:50 PM,0 °F,0 °%,12 °mph,Fair,EGLC
14997,2023-05-20,3:20 PM,0 °F,0 °%,14 °mph,Fair,EGLC
14998,2023-05-20,3:50 PM,0 °F,0 °%,9 °mph,Fair,EGLC
14999,2023-05-20,4:20 PM,0 °F,0 °%,14 °mph,Fair,EGLC
15000,2023-05-20,4:50 PM,0 °F,0 °%,13 °mph,Fair,EGLC
15001,2023-05-20,5:20 PM,0 °F,0 °%,10 °mph,Fair,EGLC
15002,2023-05-20,5:50 PM,0 °F,0 °%,12 °mph,Fair,EGLC
15003,2023-05-20,6:20 PM,0 °F,0 °%,9 °mph,Fair,EGLC
15004,2023-05-20,6:50 PM,0 °F,0 °%,10 °mph,Fair,EGLC
15005,2023-05-20,7:20 PM,0 °F,0 °%,12 °mph,Fair,EGLC
15006,2023-05-20,7:50 PM,0 °F,0 °%,10 °mph,Fair,EGLC
15007,2023-05-20,8:20 PM,0 °F,0 °%,13 °mph,Fair,EGLC
15008,2023-05-20,8:50 PM,0 °F,0 °%,9 °mph,Fair,EGLC
15009,2023-05-20,9:20 PM,0 °F,0 °%,9 °mph,Fair,EGLC
15010,2023-05-20,9:50 PM,57 °F,51 °%,9 °mph,Fair,EGLC
15011,2023-05-20,10:20 PM,55 °F,54 °%,7 °mph,Fair,EGLC
15012,2023-05-20,10:50 PM,54 °F,58 °%,6 °mph,Fair,EGLC
15013,2023-05-20,11:20 PM,54 °F,62 °%,6 °mph,Fair,EGLC
15014,2023-05-20,11:50 PM,54 °F,58 °%,6 °mph,Fair,EGLC

Здесь вообще проблема с данными по погоде. Почему-то резко стало 0 градусов. Скорее всего это ошибка, поэтому было решено дропнуть данные об этом дне в данной локации

In [365]:
df_weather = df_weather[~((df_weather.Date == '2023-05-20') & (df_weather.Location == 'EGLC'))]
df_weather

            Date      Time Temperature Humidity Wind Speed Condition Location
0     2024-04-25  12:20 AM       36 °F    81 °%     1 °mph      Fair     EGKK
1     2024-04-25  12:50 AM       36 °F    87 °%     1 °mph      Fair     EGKK
2     2024-04-25   1:20 AM       34 °F    87 °%     1 °mph      Fair     EGKK
3     2024-04-25   1:50 AM       36 °F    87 °%     1 °mph      Fair     EGKK
4     2024-04-25   2:20 AM       36 °F    87 °%     1 °mph      Fair     EGKK
...          ...       ...         ...      ...        ...       ...      ...
16664 2018-08-10   9:50 PM       52 °F    82 °%     2 °mph      Fair     EGCC
16665 2018-08-10  10:20 PM       55 °F    77 °%     3 °mph      Fair     EGCC
16666 2018-08-10  10:50 PM       50 °F    87 °%     3 °mph      Fair     EGCC
16667 2018-08-10  11:20 PM       52 °F    88 °%     6 °mph      Fair     EGCC
16668 2018-08-10  11:50 PM       48 °F    87 °%     5 °mph      Fair     EGCC

[86221 rows x 7 columns]

__Сортируем по датам__

In [366]:
df_weather.sort_values(by='Date', ascending=False).reset_index(drop=True)

,Date,Time,Temperature,Humidity,Wind Speed,Condition,Location
0,2024-04-25,12:20 AM,36 °F,81 °%,1 °mph,Fair,EGKK
1,2024-04-25,12:50 PM,54 °F,47 °%,15 °mph,Fair,EGKK
2,2024-04-25,1:50 PM,52 °F,54 °%,12 °mph,Mostly Cloudy,EGKK
3,2024-04-25,2:20 PM,54 °F,51 °%,9 °mph,Fair,EGKK
4,2024-04-25,2:50 PM,54 °F,51 °%,10 °mph,Partly Cloudy,EGKK
...,...,...,...,...,...,...,...
86216,2018-08-10,9:20 AM,59 °F,67 °%,9 °mph,Fair,EGCC
86217,2018-08-10,9:50 AM,61 °F,59 °%,10 °mph,Showers in the Vicinity,EGCC
86218,2018-08-10,10:20 AM,61 °F,59 °%,10 °mph,Mostly Cloudy,EGCC
86219,2018-08-10,10:50 AM,61 °F,52 °%,9 °mph,Showers in the Vicinity,EGCC
86220,2018-08-10,11:50 PM,48 °F,87 °%,5 °mph,Fair,EGCC

In [367]:
df_weather.Time.value_counts()

Time
5:50 PM     1877
5:20 PM     1875
3:50 PM     1873
4:20 PM     1872
1:50 PM     1872
4:50 PM     1871
2:20 PM     1870
6:50 PM     1870
3:20 PM     1870
6:20 PM     1869
10:50 AM    1864
2:50 PM     1863
1:20 PM     1863
7:20 PM     1863
12:50 PM    1859
11:50 AM    1858
8:20 AM     1857
10:20 AM    1856
12:20 PM    1854
7:50 AM     1854
8:20 PM     1853
9:50 AM     1852
9:20 AM     1851
11:20 AM    1850
7:50 PM     1850
8:50 PM     1848
8:50 AM     1847
7:20 AM     1837
9:20 PM     1826
6:50 AM     1824
9:50 PM     1818
10:20 PM    1801
10:50 PM    1767
11:20 PM    1740
6:20 AM     1730
5:50 AM     1718
11:50 PM    1716
12:20 AM    1697
12:50 AM    1686
1:50 AM     1661
1:20 AM     1657
2:50 AM     1655
5:20 AM     1649
2:20 AM     1649
3:50 AM     1640
3:20 AM     1640
4:50 AM     1629
4:20 AM     1619
8:54 PM        1
Name: count, dtype: int64

In [368]:
df_weather.loc[:, 'Time'] = df_weather.loc[:, 'Time'].apply(lambda x: x if x is None else datetime.strptime(x, '%I:%M %p').strftime('%H:%M'))
df_weather

            Date   Time Temperature Humidity Wind Speed Condition Location
0     2024-04-25  00:20       36 °F    81 °%     1 °mph      Fair     EGKK
1     2024-04-25  00:50       36 °F    87 °%     1 °mph      Fair     EGKK
2     2024-04-25  01:20       34 °F    87 °%     1 °mph      Fair     EGKK
3     2024-04-25  01:50       36 °F    87 °%     1 °mph      Fair     EGKK
4     2024-04-25  02:20       36 °F    87 °%     1 °mph      Fair     EGKK
...          ...    ...         ...      ...        ...       ...      ...
16664 2018-08-10  21:50       52 °F    82 °%     2 °mph      Fair     EGCC
16665 2018-08-10  22:20       55 °F    77 °%     3 °mph      Fair     EGCC
16666 2018-08-10  22:50       50 °F    87 °%     3 °mph      Fair     EGCC
16667 2018-08-10  23:20       52 °F    88 °%     6 °mph      Fair     EGCC
16668 2018-08-10  23:50       48 °F    87 °%     5 °mph      Fair     EGCC

[86221 rows x 7 columns]

__Температура__

In [369]:
df_weather.loc[:, 'Temperature'] = df_weather.loc[:, 'Temperature'].apply(lambda x: int(x[:-2]))
df_weather

            Date   Time Temperature Humidity Wind Speed Condition Location
0     2024-04-25  00:20          36    81 °%     1 °mph      Fair     EGKK
1     2024-04-25  00:50          36    87 °%     1 °mph      Fair     EGKK
2     2024-04-25  01:20          34    87 °%     1 °mph      Fair     EGKK
3     2024-04-25  01:50          36    87 °%     1 °mph      Fair     EGKK
4     2024-04-25  02:20          36    87 °%     1 °mph      Fair     EGKK
...          ...    ...         ...      ...        ...       ...      ...
16664 2018-08-10  21:50          52    82 °%     2 °mph      Fair     EGCC
16665 2018-08-10  22:20          55    77 °%     3 °mph      Fair     EGCC
16666 2018-08-10  22:50          50    87 °%     3 °mph      Fair     EGCC
16667 2018-08-10  23:20          52    88 °%     6 °mph      Fair     EGCC
16668 2018-08-10  23:50          48    87 °%     5 °mph      Fair     EGCC

[86221 rows x 7 columns]

__Влажность__

In [370]:
df_weather.loc[:, 'Humidity'] = df_weather.loc[:, 'Humidity'].apply(lambda x: int(x[:-2]))
df_weather

            Date   Time Temperature Humidity Wind Speed Condition Location
0     2024-04-25  00:20          36       81     1 °mph      Fair     EGKK
1     2024-04-25  00:50          36       87     1 °mph      Fair     EGKK
2     2024-04-25  01:20          34       87     1 °mph      Fair     EGKK
3     2024-04-25  01:50          36       87     1 °mph      Fair     EGKK
4     2024-04-25  02:20          36       87     1 °mph      Fair     EGKK
...          ...    ...         ...      ...        ...       ...      ...
16664 2018-08-10  21:50          52       82     2 °mph      Fair     EGCC
16665 2018-08-10  22:20          55       77     3 °mph      Fair     EGCC
16666 2018-08-10  22:50          50       87     3 °mph      Fair     EGCC
16667 2018-08-10  23:20          52       88     6 °mph      Fair     EGCC
16668 2018-08-10  23:50          48       87     5 °mph      Fair     EGCC

[86221 rows x 7 columns]

__Скорость ветра__

In [371]:
df_weather.loc[:, 'Wind Speed'] = df_weather.loc[:, 'Wind Speed'].apply(lambda x: int(x[:-4]))
df_weather

            Date   Time Temperature Humidity Wind Speed Condition Location
0     2024-04-25  00:20          36       81          1      Fair     EGKK
1     2024-04-25  00:50          36       87          1      Fair     EGKK
2     2024-04-25  01:20          34       87          1      Fair     EGKK
3     2024-04-25  01:50          36       87          1      Fair     EGKK
4     2024-04-25  02:20          36       87          1      Fair     EGKK
...          ...    ...         ...      ...        ...       ...      ...
16664 2018-08-10  21:50          52       82          2      Fair     EGCC
16665 2018-08-10  22:20          55       77          3      Fair     EGCC
16666 2018-08-10  22:50          50       87          3      Fair     EGCC
16667 2018-08-10  23:20          52       88          6      Fair     EGCC
16668 2018-08-10  23:50          48       87          5      Fair     EGCC

[86221 rows x 7 columns]

### Elo ratings

In [372]:
df_elo = pd.read_csv('elo_ratings_all_teams', parse_dates=['Date']).iloc[:, 1:]
df_elo

,Date,Time,Location,HomeTeam,AwayTeam,Elo_HomeTeam,Elo_AwayTeam
0,2024-04-25,20:00,EGKK,Brighton,Man City,1748.398682,2038.480591
1,2024-04-24,20:00,EGCC,Man United,Sheffield United,1793.209839,1551.766602
2,2024-04-24,20:00,EGGP,Everton,Liverpool,1692.962402,1923.581787
3,2024-04-24,20:00,EGLC,Crystal Palace,Newcastle,1708.831055,1811.576782
4,2024-04-24,19:45,EGBB,Wolves,Bournemouth,1711.067993,1695.033447
...,...,...,...,...,...,...,...
2159,2018-08-11,15:00,EGNT,Newcastle,Tottenham,1670.871338,1914.848877
2160,2018-08-11,15:00,EGNM,Huddersfield,Chelsea,1567.101318,1837.004272
2161,2018-08-11,15:00,EGLC,Fulham,Crystal Palace,1633.799683,1692.951660
2162,2018-08-11,15:00,EGHH,Bournemouth,Cardiff,1673.780518,1576.490356
2163,2018-08-10,15:00,EGCC,Man United,Leicester,1884.934448,1697.498169

## Соединяем

In [373]:
df_main_elo = df.merge(df_elo, on=['Date', 'Time', 'Location', 'HomeTeam', 'AwayTeam'], how='inner')
df_main_elo

,Date,Time,Location,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AC,HY,AY,HR,AR,AvgH,AvgD,AvgA,Elo_HomeTeam,Elo_AwayTeam
0,2024-04-25,20:00,EGKK,Brighton,Man City,0,4,A,0,3,...,4,2,0,0,0,6.568000,4.890000,1.426000,1748.398682,2038.480591
1,2024-04-24,20:00,EGCC,Man United,Sheffield United,4,2,H,1,1,...,4,0,1,0,0,1.304000,6.056000,8.154000,1793.209839,1551.766602
2,2024-04-24,20:00,EGGP,Everton,Liverpool,2,0,H,1,0,...,13,0,3,0,0,7.048000,4.910000,1.410000,1692.962402,1923.581787
3,2024-04-24,20:00,EGLC,Crystal Palace,Newcastle,2,0,H,0,0,...,2,3,3,0,0,2.742000,3.620000,2.410000,1708.831055,1811.576782
4,2024-04-24,19:45,EGBB,Wolves,Bournemouth,0,1,A,0,1,...,12,4,1,0,1,2.698000,3.586000,2.476000,1711.067993,1695.033447
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2159,2018-08-11,15:00,EGNT,Newcastle,Tottenham,1,2,A,1,2,...,5,2,2,0,0,3.821667,3.420000,2.053333,1670.871338,1914.848877
2160,2018-08-11,15:00,EGNM,Huddersfield,Chelsea,0,3,A,0,2,...,5,2,1,0,0,6.276667,3.970000,1.590000,1567.101318,1837.004272
2161,2018-08-11,15:00,EGLC,Fulham,Crystal Palace,0,2,A,0,1,...,5,1,2,0,0,2.466667,3.360000,2.950000,1633.799683,1692.951660
2162,2018-08-11,15:00,EGHH,Bournemouth,Cardiff,2,0,H,1,0,...,4,1,1,0,0,1.895000,3.538333,4.388333,1673.780518,1576.490356
2163,2018-08-10,15:00,EGCC,Man United,Leicester,2,1,H,1,0,...,5,2,1,0,0,1.561667,3.905000,7.083333,1884.934448,1697.498169

In [497]:
df_main = df_main_elo.merge(df_weather, on=['Date', 'Location'], how='left')
df_main

,Date,Time_x,Location,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgH,AvgD,AvgA,Elo_HomeTeam,Elo_AwayTeam,Time_y,Temperature,Humidity,Wind Speed,Condition
0,2024-04-25,20:00,EGKK,Brighton,Man City,0,4,A,0,3,...,6.568000,4.890,1.426000,1748.398682,2038.480591,00:20,36,81,1,Fair
1,2024-04-25,20:00,EGKK,Brighton,Man City,0,4,A,0,3,...,6.568000,4.890,1.426000,1748.398682,2038.480591,00:50,36,87,1,Fair
2,2024-04-25,20:00,EGKK,Brighton,Man City,0,4,A,0,3,...,6.568000,4.890,1.426000,1748.398682,2038.480591,01:20,34,87,1,Fair
3,2024-04-25,20:00,EGKK,Brighton,Man City,0,4,A,0,3,...,6.568000,4.890,1.426000,1748.398682,2038.480591,01:50,36,87,1,Fair
4,2024-04-25,20:00,EGKK,Brighton,Man City,0,4,A,0,3,...,6.568000,4.890,1.426000,1748.398682,2038.480591,02:20,36,87,1,Fair
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97065,2018-08-10,15:00,EGCC,Man United,Leicester,2,1,H,1,0,...,1.561667,3.905,7.083333,1884.934448,1697.498169,21:50,52,82,2,Fair
97066,2018-08-10,15:00,EGCC,Man United,Leicester,2,1,H,1,0,...,1.561667,3.905,7.083333,1884.934448,1697.498169,22:20,55,77,3,Fair
97067,2018-08-10,15:00,EGCC,Man United,Leicester,2,1,H,1,0,...,1.561667,3.905,7.083333,1884.934448,1697.498169,22:50,50,87,3,Fair
97068,2018-08-10,15:00,EGCC,Man United,Leicester,2,1,H,1,0,...,1.561667,3.905,7.083333,1884.934448,1697.498169,23:20,52,88,6,Fair
97069,2018-08-10,15:00,EGCC,Man United,Leicester,2,1,H,1,0,...,1.561667,3.905,7.083333,1884.934448,1697.498169,23:50,48,87,5,Fair

In [499]:
df_main[df_main['Time_y'].isna()]

,Date,Time_x,Location,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgH,AvgD,AvgA,Elo_HomeTeam,Elo_AwayTeam,Time_y,Temperature,Humidity,Wind Speed,Condition
471,2024-04-20,15:00,EGCN,Sheffield United,Burnley,1,4,A,0,2,...,2.734000,3.588000,2.428000,1565.451172,1622.928711,NaN,NaN,NaN,NaN,NaN
930,2024-04-07,17:30,EGCN,Sheffield United,Chelsea,2,2,D,1,1,...,6.804000,5.120000,1.398000,1580.669678,1791.674683,NaN,NaN,NaN,NaN,NaN
1876,2024-03-30,15:00,EGCN,Sheffield United,Fulham,3,3,D,0,0,...,4.628000,3.930000,1.712000,1578.446289,1751.549072,NaN,NaN,NaN,NaN,NaN
2571,2024-03-04,20:00,EGCN,Sheffield United,Arsenal,0,6,A,0,5,...,16.248000,7.686000,1.160000,1575.883545,1951.650146,NaN,NaN,NaN,NaN,NaN
3456,2024-02-18,14:00,EGCN,Sheffield United,Brighton,0,5,A,0,2,...,4.848000,4.180000,1.626000,1589.707031,1797.169312,NaN,NaN,NaN,NaN,NaN
4354,2024-02-03,17:30,EGCN,Sheffield United,Aston Villa,0,5,A,0,4,...,5.104000,4.192000,1.608000,1581.725220,1836.556152,NaN,NaN,NaN,NaN,NaN
5040,2024-01-21,14:00,EGCN,Sheffield United,West Ham,2,2,D,1,1,...,3.390000,3.384000,2.140000,1580.942627,1807.643311,NaN,NaN,NaN,NaN,NaN
5988,2023-12-26,15:00,EGCN,Sheffield United,Luton,2,3,A,0,1,...,2.356667,3.258333,3.036667,1591.175903,1600.531982,NaN,NaN,NaN,NaN,NaN
7092,2023-12-09,15:00,EGCN,Sheffield United,Brentford,1,0,H,1,0,...,4.428333,3.731667,1.765000,1583.940430,1798.841675,NaN,NaN,NaN,NaN,NaN
7379,2023-12-06,19:30,EGCN,Sheffield United,Liverpool,0,2,A,0,1,...,13.106667,7.530000,1.181667,1586.547363,1955.969971,NaN,NaN,NaN,NaN,NaN
8215,2023-11-25,15:00,EGCN,Sheffield United,Bournemouth,1,3,A,0,2,...,3.193333,3.506667,2.175000,1605.845825,1646.085815,NaN,NaN,NaN,NaN,NaN
9141,2023-11-04,15:00,EGCN,Sheffield United,Wolves,2,1,H,0,0,...,3.760000,3.580000,1.960000,1594.464600,1723.557861,NaN,NaN,NaN,NaN,NaN
9872,2023-10-21,20:00,EGCN,Sheffield United,Man United,1,2,A,1,1,...,7.178333,5.006667,1.411667,1600.383057,1823.010132,NaN,NaN,NaN,NaN,NaN
10857,2023-09-24,16:30,EGCN,Sheffield United,Newcastle,0,8,A,0,3,...,6.925000,4.638333,1.423333,1620.859375,1865.404907,NaN,NaN,NaN,NaN,NaN
11979,2023-09-02,12:30,EGCN,Sheffield United,Everton,2,2,D,2,1,...,2.968333,3.175000,2.446667,1630.695190,1682.220093,NaN,NaN,NaN,NaN,NaN
12075,2023-08-27,14:00,EGCN,Sheffield United,Man City,1,2,A,0,0,...,15.453333,7.246667,1.163333,1631.763550,2083.702393,NaN,NaN,NaN,NaN,NaN
12973,2023-08-12,15:00,EGCN,Sheffield United,Crystal Palace,0,1,A,0,0,...,3.021667,3.203333,2.381667,1644.073364,1757.395996,NaN,NaN,NaN,NaN,NaN
13886,2023-05-20,12:30,EGLC,Tottenham,Brentford,1,3,A,1,0,...,1.831667,3.781667,4.110000,1816.587402,1793.386353,NaN,NaN,NaN,NaN,NaN
13926,2023-05-20,15:00,EGLC,Fulham,Crystal Palace,2,2,D,1,1,...,2.420000,3.365000,2.941667,1737.786133,1756.830444,NaN,NaN,NaN,NaN,NaN
37473,2022-01-01,17:30,EGLC,Crystal Palace,West Ham,2,3,A,0,3,...,3.065000,3.426667,2.291667,1722.395508,1812.050293,NaN,NaN,NaN,NaN,NaN
37522,2022-01-01,12:30,EGLC,Arsenal,Man City,1,2,A,1,0,...,5.843333,4.563333,1.506667,1866.733276,2017.760864,NaN,NaN,NaN,NaN,NaN
49223,2021-04-11,12:00,EGNM,Burnley,Newcastle,1,2,A,1,0,...,2.335000,3.113333,3.380000,1725.618774,1666.290771,NaN,NaN,NaN,NaN,NaN
49622,2021-04-04,12:00,EGHI,Southampton,Burnley,3,2,H,2,2,...,2.076667,3.301667,3.836667,1706.295166,1733.344604,NaN,NaN,NaN,NaN,NaN
49767,2021-04-03,15:00,EGNM,Leeds,Sheffield United,2,1,H,1,1,...,1.508333,4.348333,6.543333,1709.888794,1616.644775,NaN,NaN,NaN,NaN,NaN
50008,2021-03-14,12:00,EGHI,Southampton,Brighton,1,2,A,1,1,...,2.963333,3.098333,2.580000,1717.672974,1681.267090,NaN,NaN,NaN,NaN,NaN
50780,2021-03-06,12:30,EGNM,Burnley,Arsenal,1,1,D,1,1,...,5.496667,3.903333,1.645000,1716.440430,1827.838623,NaN,NaN,NaN,NaN,NaN
51069,2021-03-03,18:00,EGNM,Burnley,Leicester,1,1,D,1,1,...,3.991667,3.298333,2.035000,1714.807983,1803.038574,NaN,NaN,NaN,NaN,NaN
51496,2021-02-27,17:30,EGNM,Leeds,Aston Villa,0,1,A,0,1,...,2.225000,3.615000,3.105000,1709.413086,1723.996338,NaN,NaN,NaN,NaN,NaN
51894,2021-02-20,15:00,EGNM,Burnley,West Brom,0,0,D,0,0,...,2.018333,3.318333,3.995000,1730.964966,1571.805908,NaN,NaN,NaN,NaN,NaN
51895,2021-02-20,12:30,EGHI,Southampton,Chelsea,1,1,D,1,0,...,4.910000,3.771667,1.731667,1722.749268,1864.213867,NaN,NaN,NaN,NaN,NaN
52200,2021-02-14,12:00,EGHI,Southampton,Wolves,1,2,A,1,0,...,2.426667,3.185000,3.108333,1722.802612,1750.131714,NaN,NaN,NaN,NaN,NaN
52744,2021-02-06,15:00,EGNM,Burnley,Brighton,1,1,D,0,1,...,3.606667,3.156667,2.210000,1713.165283,1692.846680,NaN,NaN,NaN,NaN,NaN

In [498]:
df_main.isna().sum()

Date             0
Time_x           0
Location         0
HomeTeam         0
AwayTeam         0
FTHG             0
FTAG             0
FTR              0
HTHG             0
HTAG             0
HTR              0
Referee          0
HS               0
AS               0
HST              0
AST              0
HF               0
AF               0
HC               0
AC               0
HY               0
AY               0
HR               0
AR               0
AvgH             0
AvgD             0
AvgA             0
Elo_HomeTeam     0
Elo_AwayTeam     0
Time_y          32
Temperature     32
Humidity        32
Wind Speed      32
Condition       32
dtype: int64

In [433]:
time_x = pd.to_datetime(df_main['Time_x'], format='mixed')
time_y = pd.to_datetime(df_main['Time_y'], format='mixed')

In [434]:
mask_time = (time_x - time_y >= '-1 days +22:00:00') & (time_x - time_y <= '0 days 00:30:00')
mask_nans = df_main['Time_y'].isna()

df_main = df_main[mask_time | mask_nans]
df_main

,Date,Time_x,Location,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgH,AvgD,AvgA,Elo_HomeTeam,Elo_AwayTeam,Time_y,Temperature,Humidity,Wind Speed,Condition
39,2024-04-25,20:00,EGKK,Brighton,Man City,0,4,A,0,3,...,6.568000,4.890,1.426000,1748.398682,2038.480591,19:50,45,93,3,Light Rain
40,2024-04-25,20:00,EGKK,Brighton,Man City,0,4,A,0,3,...,6.568000,4.890,1.426000,1748.398682,2038.480591,20:20,45,100,1,Light Rain
41,2024-04-25,20:00,EGKK,Brighton,Man City,0,4,A,0,3,...,6.568000,4.890,1.426000,1748.398682,2038.480591,20:50,45,100,2,Partly Cloudy
42,2024-04-25,20:00,EGKK,Brighton,Man City,0,4,A,0,3,...,6.568000,4.890,1.426000,1748.398682,2038.480591,21:20,45,93,2,Fair
43,2024-04-25,20:00,EGKK,Brighton,Man City,0,4,A,0,3,...,6.568000,4.890,1.426000,1748.398682,2038.480591,21:50,46,87,5,Fair
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97051,2018-08-10,15:00,EGCC,Man United,Leicester,2,1,H,1,0,...,1.561667,3.905,7.083333,1884.934448,1697.498169,14:50,57,72,8,Fair
97052,2018-08-10,15:00,EGCC,Man United,Leicester,2,1,H,1,0,...,1.561667,3.905,7.083333,1884.934448,1697.498169,15:20,59,67,9,Fair
97053,2018-08-10,15:00,EGCC,Man United,Leicester,2,1,H,1,0,...,1.561667,3.905,7.083333,1884.934448,1697.498169,15:50,59,67,10,Partly Cloudy
97054,2018-08-10,15:00,EGCC,Man United,Leicester,2,1,H,1,0,...,1.561667,3.905,7.083333,1884.934448,1697.498169,16:20,59,67,10,Fair
97055,2018-08-10,15:00,EGCC,Man United,Leicester,2,1,H,1,0,...,1.561667,3.905,7.083333,1884.934448,1697.498169,16:50,61,59,10,Partly Cloudy

__Усредняем показатели погоды, чтобы было одна строка = один матч__

In [506]:
df_main_grouped = df_main.groupby(['Date', 'HomeTeam'])[['Temperature', 'Humidity', 'Wind Speed', 'Condition']].agg({'Temperature': lambda x: np.nanmean(x),
                                                                                                'Humidity': lambda x: np.nanmean(x),
                                                                                                'Wind Speed': lambda x: np.nanmean(x),
                                                                                                'Condition': lambda x: Counter(x).most_common()[0][0]})
df_main_grouped.sort_index(ascending=False)

/var/folders/8c/hjls3trd5g34lbh5jtgscjrh0000gn/T/ipykernel_749/3589586090.py:2: RuntimeWarning: Mean of empty slice
  df_main_grouped = df_main.groupby(['Date', 'HomeTeam'])[['Temperature', 'Humidity', 'Wind Speed', 'Condition']].agg({'Temperature': lambda x: np.nanmean(x),
/var/folders/8c/hjls3trd5g34lbh5jtgscjrh0000gn/T/ipykernel_749/3589586090.py:3: RuntimeWarning: Mean of empty slice
  'Humidity': lambda x: np.nanmean(x),
/var/folders/8c/hjls3trd5g34lbh5jtgscjrh0000gn/T/ipykernel_749/3589586090.py:4: RuntimeWarning: Mean of empty slice
  'Wind Speed': lambda x: np.nanmean(x),

                           Temperature   Humidity  Wind Speed      Condition
Date       HomeTeam
2024-04-25 Brighton          44.750000  78.125000    5.687500           Fair
2024-04-24 Wolves            43.958333  69.208333    6.520833           Fair
           Man United        44.979167  62.333333    7.062500  Mostly Cloudy
           Everton           45.833333  65.523810    7.595238  Partly Cloudy
           Crystal Palace    45.979167  59.250000    7.604167           Fair
...                                ...        ...         ...            ...
2018-08-11 Newcastle         57.444444  72.138889    5.916667           Fair
           Huddersfield      58.157895  73.526316    8.842105           Fair
           Fulham            61.973684  69.868421    8.078947           Fair
           Bournemouth       60.296296  88.000000    7.851852  Mostly Cloudy
2018-08-10 Man United        55.375000  73.937500    7.125000           Fair

[2164 rows x 4 columns]

In [507]:
df_final = df_main_elo.merge(df_main_grouped, on=['Date', 'HomeTeam'], how='left')
df_final

,Date,Time,Location,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AR,AvgH,AvgD,AvgA,Elo_HomeTeam,Elo_AwayTeam,Temperature,Humidity,Wind Speed,Condition
0,2024-04-25,20:00,EGKK,Brighton,Man City,0,4,A,0,3,...,0,6.568000,4.890000,1.426000,1748.398682,2038.480591,44.750000,78.125000,5.687500,Fair
1,2024-04-24,20:00,EGCC,Man United,Sheffield United,4,2,H,1,1,...,0,1.304000,6.056000,8.154000,1793.209839,1551.766602,44.979167,62.333333,7.062500,Mostly Cloudy
2,2024-04-24,20:00,EGGP,Everton,Liverpool,2,0,H,1,0,...,0,7.048000,4.910000,1.410000,1692.962402,1923.581787,45.833333,65.523810,7.595238,Partly Cloudy
3,2024-04-24,20:00,EGLC,Crystal Palace,Newcastle,2,0,H,0,0,...,0,2.742000,3.620000,2.410000,1708.831055,1811.576782,45.979167,59.250000,7.604167,Fair
4,2024-04-24,19:45,EGBB,Wolves,Bournemouth,0,1,A,0,1,...,1,2.698000,3.586000,2.476000,1711.067993,1695.033447,43.958333,69.208333,6.520833,Fair
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2159,2018-08-11,15:00,EGNT,Newcastle,Tottenham,1,2,A,1,2,...,0,3.821667,3.420000,2.053333,1670.871338,1914.848877,57.444444,72.138889,5.916667,Fair
2160,2018-08-11,15:00,EGNM,Huddersfield,Chelsea,0,3,A,0,2,...,0,6.276667,3.970000,1.590000,1567.101318,1837.004272,58.157895,73.526316,8.842105,Fair
2161,2018-08-11,15:00,EGLC,Fulham,Crystal Palace,0,2,A,0,1,...,0,2.466667,3.360000,2.950000,1633.799683,1692.951660,61.973684,69.868421,8.078947,Fair
2162,2018-08-11,15:00,EGHH,Bournemouth,Cardiff,2,0,H,1,0,...,0,1.895000,3.538333,4.388333,1673.780518,1576.490356,60.296296,88.000000,7.851852,Mostly Cloudy
2163,2018-08-10,15:00,EGCC,Man United,Leicester,2,1,H,1,0,...,0,1.561667,3.905000,7.083333,1884.934448,1697.498169,55.375000,73.937500,7.125000,Fair

### Разбираемся с оставшимися nan

In [510]:
df_final.isna().sum()

Date             0
Time             0
Location         0
HomeTeam         0
AwayTeam         0
FTHG             0
FTAG             0
FTR              0
HTHG             0
HTAG             0
HTR              0
Referee          0
HS               0
AS               0
HST              0
AST              0
HF               0
AF               0
HC               0
AC               0
HY               0
AY               0
HR               0
AR               0
AvgH             0
AvgD             0
AvgA             0
Elo_HomeTeam     0
Elo_AwayTeam     0
Temperature     32
Humidity        32
Wind Speed      32
Condition       32
dtype: int64

Их не так много, поэтому просто заполним количественные признаки медианой (потому что могли быть выбросы), а качественный - модой, потому что скорее всего она бы там и была

In [525]:
from sklearn.impute import SimpleImputer

# для вещественных признаков: численная медиана
mis_replacer = SimpleImputer(strategy='median')

df_final_no_nan = df_final.iloc[:, :-4]

df_final_real_nan = pd.DataFrame(
    data=mis_replacer.fit_transform(df_final.iloc[:, -4:-1]), columns=df_final.iloc[:, -4:-1].columns)

# для категориального мода 'Fair'
df_final_cond = df_final['Condition'].fillna('Fair')

# объединяем
df_final = pd.concat([df_final_no_nan, df_final_real_nan, df_final_cond], axis=1)

## Выгружаем файл

In [528]:
df_final.to_csv('EPL_18_24_data.csv')